body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}

/* footer styles */
.footer {
  margin-top: 20px;
    color: #7f7f7f;
    padding: 10px 40px;
    text-align: center;
}

.footer h1{
    font-size: 40px;
    margin: 0px;
    font-family: Nintendo Font, sans-serif;
}

.footer p {
    font-size: 12px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.social a {
    background-color: #7f7f7f;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: #fbfbfb;
}


main {
    font-family: "Verdana", sans-serif;
    color:#333;
    display: block;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 20px 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fbfbfb;
}

.movies-header {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.movies-header h2 {
  margin: 0;
}

.movies-header button {
  position: relative;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  margin-left: 0.5em;
}

.filter-cont{
  position: absolute;
  left: 0;
  background-color: #e0e0e0;
  border-radius: 6px;
  top: 35px;
  overflow:hidden;
}

.sort-cont{
  padding: 0;
  position: absolute;
  right: 0;
  background-color: #e0e0e0;
  border-radius: 6px;
  top: 35px;
  overflow:hidden;
}

.filter-cont.hidden {
  display: none;
}

.sort-cont.hidden {
  display: none;
}

.filter-cont * {
  padding: 10px 20px;
}

.sort-cont * {
  padding: 10px 20px;
}

.filter-cont *:hover {
  background-color: #d0d0d0;
}

.sort-cont *:hover {
  background-color: #d0d0d0;
}

.movie-flex {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5em;
  margin-top: 2em;
  justify-content: center;
}

.movie-card {
  width: 200px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-out;
}

.movie-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.movie-info {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-info h3 {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5em 0;
}

.rating {
  color: goldenrod;
  font-weight: bold;
}

.details-btn {
  margin-top: 0.5em;
  padding: 0.4em 0.8em;
  background: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1100px) {

    main {
        margin: 20px 50px;
    }
}