

@font-face {
    font-family: Nintendo Font;
    src: url(3dsfont.otf);
}

header {
    background-image: linear-gradient(to top, #555555, #333);
    color: #fff;
    margin: 0px;
    text-align: left;
    padding: 10px 10px 20px 10px;
    font-family: Cascadia Code, sans-serif;
    transition: box-shadow 0.2s ease-out;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

@keyframes fadein {
    from { opacity: 0; right: 100px;}
    to   { opacity: 1; right: 0px;}
}

.title {
   display: block;
   margin: 10px 15px;
}

.title h1 {
    font-family: 'Nintendo Font';
    font-weight: normal;
    font-size: 50px;
    margin: 0px 0px -30px;
    position: relative;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.54,.54,0,1.42);
}

.column {
    display: inline;
    flex: 20%;
    position: relative;
    animation-name: fadein;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.54,.54,0,1.42);
    padding: 5px;
}

@keyframes fadein2 {
    from { opacity: 0;}
    to   { opacity: 1;}
}

.subtitle {
    font-family: Abrade Light, sans-serif;
    margin-top: 0px;
    margin-left: 15px;
    animation-name: fadein2;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: both;
}



.navi {
    list-style-type: none;
    background: none;
    border:#d1d1d1 solid 1px;
    border-radius: 23px;
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    transition: box-shadow 0.2s; 
}

.navi > * {
    margin-left: 10px;
}

.navi > *:first-child {
    margin-left: 0;
}
.navi:hover {
    box-shadow: #adadad 0px 0px 15px 0px inset, #adadad 0px 0px 15px 0px;
}

.navi li {
    float: left;
}

#home_button {
    color: #333;
    background-color: #d1d1d1;
    border-radius: 20px;
    padding: 5px 15px;
}

.navi li a {
    display: inline-block;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 13px;
    padding:  5px 15px 5px 15px;
    text-align: center;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.navi li a:hover {
    background-color: #d1d1d1;
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    color:#333;
    cursor: pointer;
}

.searchbar {
    display: inline-block;
    background: transparent;
    background-image: url('icons/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px;
    border: none;
    filter: invert(1);
    padding:  5px 15px 5px 15px;
    width: 5px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
    
}

.searchbar:hover {
    background-color: #d1d1d1;
    border-radius: 20px;
    color:#333;
    filter: none;
    cursor: pointer;
}

.searchbar:focus {
    outline: none;
    background-color: #d1d1d1;
    background-image: url('icons/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px; /* for some reason it persists to change lol */
    border-radius: 20px;
    filter: none;
    padding-left: 40px;
    margin: 0;
    width: 200px;
    
    /* animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
    
}

.menu-button {
    display: none !important;

}

.menu-button i {
    font-size: 15px;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Require responsiveness */
main {
    font-family: "Verdana", sans-serif;
    color:#333;
    display:block;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, .2);
    padding: 0px;
    margin: 20px 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fbfbfb;
}

section {
    padding: 20px;
    display: block;
    border: #d1d1d1 solid 1px;
    border-radius: 20px;
}

/* Require responsiveness */
.first_row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

h2 {
    font-size: 30px;
    background: transparent;
    padding: 15px 25px;
    margin: 0px;
}

#featured_container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    width: 70%;
    background-color: #000;
}

#featured_container * {
    position: absolute;
}



#featured_container h2 {
    color: #fff;
}

@keyframes fadeleft {
  from {filter:brightness(0); object-position: 100px 0px;} 
  to {opacity: 1; object-position: 0px 0px;}
}

@keyframes faderight {
  from {filter:brightness(0); object-position: -100px 0px;} 
  to {opacity: 1; object-position: 0px 0px;}
}
    

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    
}

.thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    zoom: 200px;
    animation: fadeleft 1.5s forwards;
}

#featured_overlay_container {
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1) 30%),
        linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)),
        linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1) 30%),
        linear-gradient(to left, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1) 30%);
    width: 100%;
    height: 100%;
}

@keyframes fadeAndMove {
  from {opacity: 0; transform: translateY(20px); filter: blur(15px);} 
  to {opacity: 1; transform: translateY(0px); filter: blur(0);}
}

.details_container {
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    bottom: 50px;
    left: 80px;
    width: 300px;
    height: fit-content;
    row-gap: 10px;
    color: #fff;
    animation: fadeAndMove 1s ease-out 0.5s;
    animation-fill-mode: forwards;
}

.details_container * {
    position: relative !important;
}

.logo {
    width: 20%;
}
.further_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    font-size: 15px;
}

.further_details * {
    position: relative;
}


#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 50px 16px;
    margin-top: -55px;
    color: white;
    font-size: 18px;
    transition: 0.4s ease-out;
    user-select: none;
}

#next {
    right: 0;
    left: auto;
}

#prev:hover {
    padding-left: 30px;
}

#next:hover {
    padding-right: 30px;
}

#prev i, #next i {
    position: initial;
}

.popular_container {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}

.movie_list {
    margin: 0 20px;
    height: 300px;
    overflow: auto;
}

.movie_item { 
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: row;
    border: #9d9d9d solid 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.movie_item * {
    font-size: 15px;
}
.movie_item img {
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#popular_overlay_container {
    position: absolute;
    background: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 80%);
    width: 100%;
    height: 100%;
    pointer-events: none; /*For pass-through effect*/
}

.pop_details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pop_details p {
    margin: 0;
    color: #7e7e7e;
    
}

.btn-play {
    font-family: Cascadia Code;
    margin-top: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #dadada;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.btn-play:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

@media (max-width: 1100px) {

    main {
        margin: 20px 50px;
    }
    .navi {position: relative;}
    .navi.responsive {position: relative;}
    

    .navi li:not(:first-child) {display: none;}

    .navi.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .navi.responsive li:not(:first-child) {
            
            margin-left: 0;
            margin-top: 5px;
            width: 100%;
    }

    .navi.responsive li a {
        width: 100%;
        padding: 10px 0 !important;
        margin: 0;
    }
    .menu-button {
        display: inline-block !important;
    }

    .navi li[style="float:right"] {
        display: block;
        position: absolute;
        top: 8px;
        right: 12px;
        pointer-events: none;
    }

    #home_button {
        background: transparent;
        color: #d1d1d1;
        border: #d1d1d1 solid 1px;

    }
    
    .navi.responsive .menu-button {    
        display: block;
        background-color: #d1d1d1;
        border-radius: 20px;
        padding: 5px 25px 5px 25px;
        color:#333;
        width: 50px;
        padding: 5px 0 !important;
        
    }

    .navi.responsive li[style="float:right"] {    
        display: block;
        top: 3px;
    }

    .searchbar {
        float: right;
        pointer-events: all;
    }

    
    .first_row {
        flex-direction: column;
    }
    .popular_container {
        width: 100%;
    }
    #featured_container {
        width: 100%;
    }
}